<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047313019802-9umdemgpfa10bq7nhrno1nf0p2tqnau1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047313019802-9umdemgpfa10bq7nhrno1nf0p2tqnau1</string>
	<key>API_KEY</key>
	<string>AIzaSyA0j5mxSMR3SgNcfFi0_h3CLr35SDf2rH0</string>
	<key>GCM_SENDER_ID</key>
	<string>1047313019802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mo7ammedtabasi.note</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-2dd3c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-2dd3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047313019802:ios:ef7e17e0fbd6197f590023</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-project-2dd3c-default-rtdb.firebaseio.com</string>
</dict>
</plist>